@import '../styles/variables.css';


.generate-key-container {
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: var(--bean-bg);
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.generate-btn,
.login-btn {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: var(--bean-primary);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.generate-btn:hover,
.login-btn:hover {
  background-color: var(--bean-secondary);
}

.warning-text {
  color: #c62828;
  font-weight: bold;
  margin-bottom: 1rem;
}

.private-key-box {
  width: 100%;
  padding: 1rem;
  font-family: monospace;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  color: var(--bean-text);
}
